.git
.gitignore
.github

.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.mypy_cache
.ruff_cache
.pytest_cache

.dvc/cache
.dvc/tmp
mlruns

data
notebooks
tests

.env
.env.example
.idea
.vscode
*.log

docker/*.Dockerfile
